{{#bs-modal open=isShowing title=modalTitle footer=false body=false}}
  {{#bs-modal-body}}
    {{#if error}}<div class="alert alert-danger">{{error}}</div>{{/if}}
    {{yield}}
  {{/bs-modal-body}}
  {{bs-modal-footer closeTitle=cancelText submitTitle=confirmText submitAction=(action "didConfirm")}}
{{/bs-modal}}
