<div class="col-xs-3">
  <a href="javascript:void();" class="thumbnail" {{action 'setPublicationType'}} style="height:250px;overflow:hidden;">
    <div class="caption">
      <h4>{{#if suggested}}<small>Föreslagen:</small><br/>{{/if}}{{#if current}}<small>Vald:</small><br/>{{/if}}{{publicationType.name}}</h4>
      <p>{{publicationType.description}}</p>
    </div>
  </a>
</div>
