<div class="row">
  <div class="col-xs-12">
    <h3>{{#link-to link item.pubid}}{{item.title}}{{/link-to}}</h3>
  </div>
  <div class="col-xs-12">
    <p>{{bibliographicInfoString}}</p>
  </div>
</div>
