<div class="col-xs-6">
  <div style="height:230px;width:100%;margin:5px;background:#CCC;padding:5px;">
    <strong>{{publicationType.name}}</strong>
    <p>{{publicationType.description}}</p>
    <button class="btn btn-primary btn-md" {{action 'setPublicationType'}}>Välj</button>
  </div>
</div>
