<div class="row">
  <div class="col-xs-12">
    <div class="pull-right">
      {{#gup-file-upload-widget id="gup-file-import-upload"}}
      {{/gup-file-upload-widget}}
    </div>
  </div>
</div>
{{outlet}}
