  <div class="row">
    <div class="col-xs-12 header">
      <h1>Publikationer</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <nav id="sub-nav">
        <ul class="nav">
          <li>{{#link-to 'publications.manage.dashboard.drafts'}}Drafts{{/link-to}}</li>
          <li>{{#link-to 'publications.manage.dashboard.published'}}Publicerade{{/link-to}}</li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10">
      {{outlet}}
    </div>
  </div>



