  <div class="row bottom-spacing-40">
    <div class="col-xs-6 header">
      <h1>Publikationer</h1>
    </div>
    <div class="col-xs-6">
        <!-- Split button -->
        <div class="btn-group pull-right">
          {{#link-to 'publications.manage.show' class="btn btn-primary"}}Registera ny{{/link-to}}
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Registera ny</a></li>
            <li><a href="#">Importera publikationer från fil</a></li>
            <li><a href="#">Importera publikation</a></li>
          </ul>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <nav id="sub-nav">
        <ul class="nav">
          <li>{{#link-to 'publications.manage.dashboard.drafts'}}Drafts{{/link-to}}</li>
          <li>{{#link-to 'publications.manage.dashboard.published'}}Publicerade{{/link-to}}</li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10">
      {{outlet}}
    </div>
  </div>



