	<div class="row">
		<div class="col-xs-12">
			{{#link-to 'publications.manage.dashboard.drafts'}}<i class="fa fa-chevron-left"></i> Tillbaka{{/link-to}}
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<h1>Importera publikationer från fil</h1>
		</div>
	</div>