<div class="row bottom-spacing-40">
  <div class="col-xs-6 header">
    <h1>Publikationer</h1>
  </div>
  <div class="col-xs-6">
    <!-- Split button -->
    <div class="pull-right">
      {{#link-to 'publications.create' class="btn btn-primary"}}Registera ny{{/link-to}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <nav id="sub-nav">
      <ul class="nav">
        <li>{{#link-to 'publications.dashboard.drafts'}}Utkast{{/link-to}}</li>
        <li>{{#link-to 'publications.dashboard.published'}}Publicerade{{/link-to}}</li>
        <li>{{#link-to 'publications.dashboard.touched'}}Registrerade/redigerade av mig{{/link-to}}</li>
      </ul>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col-xs-10">
    {{outlet}}
  </div>
</div>
