{{#if model.hasErrors}}
<h4 class="alert alert-danger">{{model.errors}}</h4>
{{else}}
{{#each publication in model}}
<p>{{#link-to 'publications.show' publication.pubid}}{{publication.title}}{{/link-to}} {{format-date publication.created_at}}</p>

{{/each}}
{{/if}}
