<div class='col-lg-1 col-md-2 col-xs-4'>
<ul>
  {{#each item in model}} 
    <li>
      {{link-to item.title 'publications.manage.show' item.id}}
    </li>
  {{/each}}
</ul>
</div>

<div class='col-lg-11 col-md-10 col-xs-8'>
{{outlet}}
</div>
