<div class="container">
<div class='col-xs-4'>
<ul>
  {{#each item in model}} 
    <li>
      {{link-to item.title 'publications.manage.show' item.pubid}}
    </li>
  {{/each}}
</ul>
</div>

<div class='col-xs-8'>
{{outlet}}
</div>
</div>
