.fa {
	&.fa-spinner {
		visibility: hidden;
		&.loading {
			visibility: visible;
		}
	}
	&.fa-check {
		color: @brand-success;
	}
	&.fa-times {
		color: @brand-danger;
	}
}


.bottom-spacing-20 {
	margin-bottom: 20px;
}


#toast {
	position: fixed;
	top: 100px;
	right: 100px;
	width: 400px;
	z-index: 100;
}


/* #####  Hantera Landing */
.section-block {
	margin-bottom: 40px;
	border-left: 4px solid @brand-primary;
	h2 {
		margin-top: 0;
	}
}




.dashboard-list {
	li {
		margin-bottom: 60px;
		&:nth-child(odd) {

	 	}
	 	table {
	 		td {
	 			&:first-child {
	 				font-size: 1.2em;
	 			}
	 		}
	 	}
	}
}


