#spinner {
	position: fixed;
	top:50%;
	left:50%;
	margin-left: -10px;
	z-index: 100;
	font-size: 20px;
	display: none;
}
.loading {
	#spinner {
		display: block;
	}
}


.bottom-spacing-20 {
	margin-bottom: 20px !important;
}

.bottom-spacing-40 {
	margin-bottom: 40px !important;
}

#toast {
	position: fixed;
	top: 100px;
	right: 100px;
	width: 400px;
	z-index: 100;
}


/* #####  Hantera Landing */
.section-block {
	margin-bottom: 40px;
	border-left: 4px solid @brand-primary;
	h2 {
		margin-top: 0;
	}
}



#login-form {
	margin-top: 20%;
}


.dashboard-list {
	li {
		border-top: 1px solid #ccc;
		&:nth-child(odd) {
			//background: @gray-lighter;
		}
		padding: 20px 10px;
		h3 {
			margin: 0;
			padding-top:0;
			padding-bottom: 10px;
		}
		.dashboard-list-header {
			font-size: 1.4em;
			margin-bottom: 10px;	
		}
	}
}

.header {
	h1	{
		margin:0;
		padding:0;
	}
}

#sub-nav {
	border-bottom: 1px solid #ccc;
	margin-bottom: 40px;

	ul {
		li {
			float: left;
			display: inline-block;
		}
	}
	a {
		&.active {
			border-bottom: 2px solid @brand-primary;
		}
	}
}



.sort-control {
	display: none;
	height: 15px;
	.sort-control-up {
		height: 15px;
	}
	.sort-control-down {
		height: 15px;
	}
}

.compensate-for-label-on-top {
	margin-top: 25px; 
}

#author-component {
	padding-top: 10px;

}

.dotted-line {
	border-top: 1px dotted #ccc;
	margin-bottom: 10px;
}

/* select 2 */ 

.select2-container {
	overflow: auto;
	padding-right: 1px !important;
	.select2-search-choice {
		background: @gray-lighter !important;
		//color: white !important;
	}

	a {
		&.select2-search-choice-close {
		
		}
	}

}

.select2-footer {
	text-align: center !important;
	padding: 10px 0;
}


