#magazine-details {

}

#author-component {

}

#registerNewAuthor {
	padding: 10px;
	border-left: 3px solid	 lighten(@brand-primary, 20%);
	margin-bottom: 20px;
}





#toolbar {
	&.no-selection {
		display: none;
	}	
}


/* form logic */

#title {
	display: none;
	&.article {
		display: block;
	}
}


#alt-title {
	display: none;
	&.article {
		display: block;
	}
} 

#abstract {
	display: none;
	&.article {
		display: block;
	}
}

#meta {
	display: none;
	&.article {
		display: block;
	}
}


#fulltext-link {
	display: none;
	&.article {
		display: block;
	}
}


#external-id {
	display: none;
	&.article {
		display: block;
	}
}


#external-links {
	display: none;
	&.article {
		display: block;
	}
}

#keywords {
	display: none;
	&.article {
		display: block;
	}
}

#notes {
	display: none;
	&.article {
		display: block;
	}
}

#author-component {
	display: none;
	&.article {
		display: block;
	}
} 

#magazine-details {
	display: none;
	&.article {
		display: block;
	}
}

#article-number {
	display: none;
	&.article {
		display: block;
	}
}



