
#registerNewAuthor {
	padding: 10px;
	border-left: 3px solid	 lighten(@brand-primary, 20%);
	margin-bottom: 20px;
}





#toolbar {
	&.no-selection {
		display: none;
	}
}


/* form logic */

/*
#title {
	display: none;
	&.article-in-scientific-journal {
		display: block;
	}
	&.article-ref {
		display: block;
	}
  &.artistic-work {
    display: block;
  }
  &.book-chapter {
    display: block;
  }
  &.book-edited {
    display: block;
  }
  &.book {
    display: block;
  }
  &.conference-proc {
    display: block;
  }
  &.none {
    display: block;
  }
  &.other {
    display: block;
  }
  &.patent {
    display: block;
  }
  &.text-critical-edition {
    display: block;
  }
  &.thesis {
    display: block;
  }
}


#alt-title {
	display: none;
	&.article-in-scientific-journal {
		display: block;
	}
	&.article-ref {
		display: block;
	}
  &.artistic-work {
    display: block;
  }
  &.book-chapter {
    display: block;
  }
  &.book-edited {
    display: block;
  }
  &.book {
    display: block;
  }
  &.conference-proc {
    display: block;
  }
  &.none {
    display: block;
  }
  &.other {
    display: block;
  }
  &.patent {
    display: block;
  }
  &.text-critical-edition {
    display: block;
  }
  &.thesis {
    display: block;
  }
}

#abstract {
	display: none;
	&.article-in-scientific-journal {
		display: block;
	}
  &.article-ref {
    display: block;
  }
  &.artistic-work {
    display: block;
  }
  &.book-chapter {
    display: block;
  }
  &.book-edited {
    display: block;
  }
  &.book {
    display: block;
  }
  &.conference-proc {
    display: block;
  }
  &.none {
    display: block;
  }
  &.other {
    display: block;
  }
  &.patent {
    display: block;
  }
  &.text-critical-edition {
    display: block;
  }
  &.thesis {
    display: block;
  }
}

#meta {
	display: none;
	&.article-in-scientific-journal {
		display: block;
	}
  &.article-ref {
    display: block;
  }
  &.artistic-work {
    display: block;
  }
  &.book-chapter {
    display: block;
  }
  &.book-edited {
    display: block;
  }
  &.book {
    display: block;
  }
  &.conference-proc {
    display: block;
  }
  &.none {
    display: block;
  }
  &.other {
    display: block;
  }
  &.patent {
    display: block;
  }
  &.text-critical-edition {
    display: block;
  }
  &.thesis {
    display: block;
  }
}


#fulltext-link {
	display: none;
	&.article-in-scientific-journal {
		display: block;
	}
  &.artistic-work {
    display: block;
  }
  &.book-chapter {
    display: block;
  }
  &.book-edited {
    display: block;
  }
  &.book {
    display: block;
  }
  &.conference-proc {
    display: block;
  }
  &.none {
    display: block;
  }
  &.other {
    display: block;
  }
  &.patent {
    display: block;
  }
  &.text-critical-edition {
    display: block;
  }
  &.thesis {
    display: block;
  }
}


#external-id {
	display: none;
	&.article-in-scientific-journal {
		display: block;
	}
  &.article-ref {
    display: block;
  }
  &.artistic-work {
    display: block;
  }
  &.book-chapter {
    display: block;
  }
  &.book-edited {
    display: block;
  }
  &.book {
    display: block;
  }
  &.conference-proc {
    display: block;
  }
  &.none {
    display: block;
  }
  &.other {
    display: block;
  }
  &.patent {
    display: block;
  }
  &.text-critical-edition {
    display: block;
  }
  &.thesis {
    display: block;
  }
}


#external-links {
	display: none;
	&.article-in-scientific-journal {
		display: block;
	}
  &.article-ref {
    display: block;
  }
  &.artistic-work {
    display: block;
  }
  &.book-edited {
    display: block;
  }
  &.book {
    display: block;
  }
  &.conference-proc {
    display: block;
  }
  &.none {
    display: block;
  }
  &.other {
    display: block;
  }
  &.patent {
    display: block;
  }
  &.text-critical-edition {
    display: block;
  }
  &.thesis {
    display: block;
  }
}

#keywords {
	display: none;
	&.article-in-scientific-journal {
		display: block;
	}
  &.article-ref {
    display: block;
  }
  &.artistic-work {
    display: block;
  }
  &.book-chapter {
    display: block;
  }
  &.book-edited {
    display: block;
  }
  &.book {
    display: block;
  }
  &.conference-proc {
    display: block;
  }
  &.none {
    display: block;
  }
  &.other {
    display: block;
  }
  &.patent {
    display: block;
  }
  &.text-critical-edition {
    display: block;
  }
  &.thesis {
    display: block;
  }
}

#project {
  display: none;
  &.article-in-scientific-journal {
    display: block;
  }
  &.conference-proc {
    display: block;
  }
  &.none {
    display: block;
  }
}

#notes {
	display: none;
	&.article-in-scientific-journal {
		display: block;
	}
  &.article-ref {
    display: block;
  }
  &.artistic-work {
    display: block;
  }
  &.book-chapter {
    display: block;
  }
  &.book-edited {
    display: block;
  }
  &.book {
    display: block;
  }
  &.conference-proc {
    display: block;
  }
  &.none {
    display: block;
  }
  &.other {
    display: block;
  }
  &.patent {
    display: block;
  }
  &.text-critical-edition {
    display: block;
  }
  &.thesis {
    display: block;
  }
}

#author-component {
	display: none;
	&.article-in-scientific-journal {
		display: block;
	}
  &.article-ref {
    display: block;
  }
  &.artistic-work {
    display: block;
  }
  &.book-chapter {
    display: block;
  }
  &.book {
    display: block;
  }
  &.conference-proc {
    display: block;
  }
  &.none {
    display: block;
  }
  &.other {
    display: block;
  }
  &.patent {
    display: block;
  }
  &.thesis {
    display: block;
  }
}

#source-title {
  display: none;
  &.article-in-scientific-journal {
    display: block;
  }
  &.book-chapter {
    display: block;
  }
}


#source-pages {
  display: none;
  &.article-in-scientific-journal {
    display: block;
  }
}

#magazine-details {
	display: none;
	&.article-in-scientific-journal {
		display: block;
	}
  &.article-ref {
    display: block;
  }
  &.conference-proc {
    display: block;
  }
  &.none {
    display: block;
  }
  &.other {
    display: block;
  }
}

#article-number {
	display: none;
	&.article {
		display: block;
	}
  &.conference-proc {
    display: block;
  }
  &.none {
    display: block;
  }
  &.other {
    display: block;
  }
}

#extent {
  display: none;
  &.artistic-work {
    display: block;
  }
  &.book-edited {
    display: block;
  }
  &.book {
    display: block;
  }
  &.none {
    display: block;
  }
  &.other {
    display: block;
  }
  &.text-critical-edition {
    display: block;
  }
  &.thesis {
    display: block;
  }
}

#publisher {
  display: none;
  &.artistic-work {
    display: block;
  }
  &.book-chapter {
    display: block;
  }
  &.book-edited {
    display: block;
  }
  &.book {
    display: block;
  }
  &.none {
    display: block;
  }
  &.other {
    display: block;
  }
  &.text-critical-edition {
    display: block;
  }
  &.thesis {
    display: block;
  }
}

#place {
  display: none;
  &.artistic-work {
    display: block;
  }
  &.book-chapter {
    display: block;
  }
  &.book-edited {
    display: block;
  }&.book {
    display: block;
  }
  &.none {
    display: block;
  }
  &.other {
    display: block;
  }
  &.text-critical-edition {
    display: block;
  }
  &.thesis {
    display: block;
  }
}

#series {
  display: none;
  &.artistic-work {
    display: block;
  }
  &.book-edited {
    display: block;
  }
  &.book {
    display: block;
  }
  &.none {
    display: block;
  }
  &.other {
    display: block;
  }
  &.thesis {
    display: block;
  }
}

#isbn {
  display: none;
  &.artistic-work {
    display: block;
  }
  &.book-chapter {
    display: block;
  }
  &.book-edited {
    display: block;
  }
  &.book {
    display: block;
  }
  &.conference-proc {
    display: block;
  }
  &.none {
    display: block;
  }
  &.other {
    display: block;
  }
  &.text-critical-edition {
    display: block;
  }
  &.thesis {
    display: block;
  }
}

#artwork-type {
  display: none;
  &.artistic-work {
    display: block;
  }
  &.none {
    display: block;
  }
}

#editor {
  display: none;
  &.book-edited {
    display: block;
  }
  &.none {
    display: block;
  }
  &.text-critical-edition {
    display: block;
  }
}

#diss-date {
  display: none;
  &.none {
    display: block;
  }
  &.thesis {
    display: block;
  }
}

#diss-time {
  display: none;
  &.none {
    display: block;
  }
  &.thesis {
    display: block;
  }
}

#diss-location {
  display: none;
  &.none {
    display: block;
  }
  &.thesis {
    display: block;
  }
}

#diss-opponent {
  display: none;
  &.none {
    display: block;
  }
  &.thesis {
    display: block;
  }
}

#patent-applicant {
  display: none;
  &.none {
    display: block;
  }
  &.patent {
    display: block;
  }
}

#patent-application-number {
  display: none;
  &.none {
    display: block;
  }
  &.patent {
    display: block;
  }
}

#patent-application-date {
  display: none;
  &.none {
    display: block;
  }
  &.patent {
    display: block;
  }
}

#patent-number {
  display: none;
  &.none {
    display: block;
  }
  &.patent {
    display: block;
  }
}

#patent-date {
  display: none;
  &.none {
    display: block;
  }
  &.patent {
    display: block;
  }
}

*/
