# try messing with stdin_open and tty to find out correct setting
services:
  gup-frontend:
    image: docker.ub.gu.se/ember-dev:3.14.0
    environment:
      - GUP_SERVICE_PORT=${GUP_BACKEND_PORT}
      - GUP_FRONTEND_PORT=${GUP_FRONTEND_PORT}
    ports:
      # server
      - ${GUP_FRONTEND_PORT}:4200
      # livereload
      - 7020:7020
      # Tests in browser
      - 7357:7357
    volumes:
      - ../frontend:/home/node/app
  gup-backend:
    image: docker.ub.gu.se/rails:ruby-2.5.8
    environment:
      - GUP_HOSTNAME=localhost:${GUP_BACKEND_PORT}
      - DEV_ALLOW_ALL_ACCOUNTS=${DEV_ALLOW_ALL_ACCOUNTS}
      - DEV_OVERRIDE_ADMIN=${DEV_OVERRIDE_ADMIN}
      - GUP_PUBLIC_BASE_URL=http://localhost:${GUP_BACKEND_PORT}
    volumes:
      - ../:/usr/src/app
    command: ["bundle", "exec", "rails", "server", "-b", "0.0.0.0"]
  gup-db:
    image: postgres:9.4
    volumes:
      - ./build/postgres/postgres.conf:/etc/postgresql/postgresql.conf
      - dbdata:/var/lib/postgresql/data # Use named volume for dev
  gup-solr:
    volumes:
      - ../solr/config/core.properties.envsubst:/opt/solr/gup-config/core.properties.envsubst

     # gup-guresearch, used??
      - >
        ../solr/config/cores/gup-guresearch/conf/dataimportconfig.xml
        :/opt/solr/server/solr/mycores/gup-guresearch/conf/dataimportconfig.xml
      - >
        ../solr/config/cores/gup-guresearch/conf/schema.xml
        :/opt/solr/server/solr/mycores/gup-guresearch/conf/schema.xml
      - >
        ../solr/config/solrconfig.xml
        :/opt/solr/server/solr/mycores/gup-guresearch/conf/solrconfig.xml

      # gup-people
      - >
        ../solr/config/cores/gup-people/conf/dataimportconfig.xml
        :/opt/solr/server/solr/mycores/gup-people/conf/dataimportconfig.xml
      - >
        ../solr/config/cores/gup-people/conf/schema.xml
        :/opt/solr/server/solr/mycores/gup-people/conf/schema.xml
      - >
        ../solr/config/solrconfig.xml
        :/opt/solr/server/solr/mycores/gup-people/conf/solrconfig.xml

      # gup-journals
      - >
        ../solr/config/cores/gup-journals/conf/dataimportconfig.xml
        :/opt/solr/server/solr/mycores/gup-journals/conf/dataimportconfig.xml
      - >
        ../solr/config/cores/gup-journals/conf/schema.xml
        :/opt/solr/server/solr/mycores/gup-journals/conf/schema.xml
      - >
        ../solr/config/solrconfig.xml
        :/opt/solr/server/solr/mycores/gup-journals/conf/solrconfig.xml

      # gup-publications
      - >
        ../solr/config/cores/gup-publications/conf/dataimportconfig.xml
        :/opt/solr/server/solr/mycores/gup-publications/conf/dataimportconfig.xml
      - >
        ../solr/config/cores/gup-publications/conf/schema.xml
        :/opt/solr/server/solr/mycores/gup-publications/conf/schema.xml
      - >
        ../solr/config/solrconfig.xml
        :/opt/solr/server/solr/mycores/gup-publications/conf/solrconfig.xml
volumes:
  dbdata:
    name: gup
