services:
  gup-frontend:
    image: docker.ub.gu.se/gup-frontend:${GIT_REVISION}
    environment:
      - GUP_SERVICE_HOSTNAME=${BACKEND_HOSTNAME}
      - GUP_FRONTEND_HOSTNAME=${FRONTEND_HOSTNAME}
    ports:
      # Port differs in release image for ember
      # TODO: Change so nginx listens at 4200 instead to we don't need this?
      - ${GUP_FRONTEND_PORT}:8080
  gup-backend:
    image: docker.ub.gu.se/gup-backend:${GIT_REVISION}
    environment:
      - GUP_HOSTNAME=${BACKEND_OAI_HOSTNAME}
      - GUP_FRONTEND_HOSTNAME=${FRONTEND_HOSTNAME}
    volumes:
      - ${GUP_BACKEND_UPLOADS_VOLUME_SOURCE}:/opt/gup-uploads
      - ${GUP_BACKEND_SITEMAPS_DIR}:/apps/gup/sitemaps
  gup-backend_full:
    image: docker.ub.gu.se/gup-backend:${GIT_REVISION}
    restart: always
    depends_on:
      - gup-db
    env_file:
      - secrets.env
    environment:
      - RAILS_ENV=${GUP_ENVIRONMENT}
      - RAILS_PORT=${GUP_RAILS_PORT}
      - GUP_DB_HOST=${GUP_DB_HOST}
      - GUP_DB_PORT=${GUP_DB_PORT}
      - GUP_DB=${GUP_DB}
      - GUP_DB_USER=${GUP_DB_USER}
      - GUP_DB_PASSWORD=${GUP_DB_PASSWORD}
      - GUP_SOLR_HOST=gup-solr
      - GUP_SOLR_PORT=8983
      - GUP_MAIL_FROM=${GUP_MAIL_FROM}
      - GUP_MAIL_TO=${GUP_MAIL_TO}
      - GUP_REPOSITORY_NAME=${GUP_REPOSITORY_NAME}
      - GUP_OAI_REPOSITORY_NAME=${GUP_OAI_REPOSITORY_NAME}
      - GUP_OAI_RECORD_PREFIX=${GUP_OAI_RECORD_PREFIX}
      - GUP_MQ_BASE_URL=${GUP_MQ_BASE_URL}
      - GUP_HOSTNAME=${BACKEND_OAI_FULL_HOSTNAME}
      - GUP_PUBLIC_BASE_URL=${GUP_PUBLIC_BASE_URL}
      - GUP_OAI_SCOPE=full
    networks:
      - gup
    ports:
      - ${GUP_BACKEND_FULL_PORT}:${GUP_RAILS_PORT}
  gup-db:
    image: docker.ub.gu.se/gup-postgres:${GIT_REVISION}
    volumes:
      - ${GUP_DB_VOLUME_SOURCE}:/var/lib/postgresql/data
  gup-solr:
    volumes:
#     - ${GUP_SOLR_GURESEARCH_VOLUME_SOURCE}:/opt/solr/server/solr/mycores/gup-guresearch/data
      - ${GUP_SOLR_JOURNALS_VOLUME_SOURCE}:/opt/solr/server/solr/mycores/gup-journals/data
      - ${GUP_SOLR_PEOPLE_VOLUME_SOURCE}:/opt/solr/server/solr/mycores/gup-people/data
      - ${GUP_SOLR_PUBLICATIONS_VOLUME_SOURCE}:/opt/solr/server/solr/mycores/gup-publications/data
  gup-static:
    image: ${GUP_STATIC_RUNNING_IMAGE}
    restart: always
    ports:
      - ${GUP_STATIC_ACCESS_PORT}:80
    volumes:
      - "${GUP_STATIC_APACHE_SITE}:/etc/apache2/sites-enabled"
      - "${GUP_BACKEND_SITEMAPS_DIR}:/var/www/sitemaps"
