GUP_OAUTH2_CLIENT_SECRET=<client secret>
GUP_TEST_USER_API_KEY=<api key>
GUP_SCOPUS_API_KEY=<api key>
GUP_ADMIN_API_KEY=<api key>
GUP_ADMIN_INDEX_MANAGER_API_KEY=<api key>
GUP_MQ_API_KEY=<api key>
GUP_SECRET_KEY_BASE=<secret key base>
