/* jshint node: true */

module.exports = function(environment) {
  var ENV = {
    modulePrefix: 'gup',
    environment: environment,
    baseURL: '/',
    locationType: 'hash',
    EmberENV: {
      FEATURES: {
        // Here you can enable experimental features on an ember canary build
        // e.g. 'with-controller': true
      }
    },

    APP: {
      // Here you can pass flags/options to your application instance
      // when it is created
    }
  };

  // config/environment.js
  ENV.contentSecurityPolicy = {      
      'style-src': "'self' 'unsafe-inline'",
      //'font-src': "'self' https://webresources.gu.se"
  }


  if (environment === 'development') {
    // ENV.APP.LOG_RESOLVER = true;
    ENV.APP.LOG_ACTIVE_GENERATION = true;
    ENV.contentSecurityPolicyHeader = 'Disabled-Content-Security-Policy'; 
    // ENV.APP.LOG_TRANSITIONS = true;
    // ENV.APP.LOG_TRANSITIONS_INTERNAL = true;
    ENV.APP.LOG_VIEW_LOOKUPS = true;
  //  ENV.APP.serviceURL = 'http://gup-publications-test.ub.gu.se';//'<backend server name, eg http://gup-publications-test.ub.gu.se>';
    ENV.APP.serviceURL =  'http://guppi-test.ub.gu.se/v1';//'http://130.241.17.243:3030'; //'http://guppi-test.ub.gu.se'; //'http://130.241.17.243:3030';// //  <backend server name, eg http://gup-publications-test.ub.gu.se>';
    ENV.APP.authenticationBaseURL = 'http://guppi-test.ub.gu.se/session'; //http://guppi-test.ub.gu.se/session



    ENV['simple-auth'] = {
        serverTokenRevocationEndpoint: '/revoke'
      };
  }

  if (environment === 'test') {
    // Testem prefers this...
    ENV.baseURL = '/';
    ENV.locationType = 'auto';

    // keep test console output quieter
    ENV.APP.LOG_ACTIVE_GENERATION = false;
    ENV.APP.LOG_VIEW_LOOKUPS = false;

    ENV.APP.rootElement = '#ember-testing';
  }

  if (environment === 'production-live') {
    ENV.APP.serviceURL = '<backend live server name>';  
  }

  if (environment === 'production-test') {
    ENV.APP.serviceURL = '<backend test server name>';  
  }

  return ENV;
};
