/* jshint node: true */

module.exports = function(environment) {
  var ENV = {
    modulePrefix: 'gup',
    environment: environment,
    baseURL: '/',
    locationType: 'hash',
    EmberENV: {
      FEATURES: {
        // Here you can enable experimental features on an ember canary build
        // e.g. 'with-controller': true
      }
    },

    i18n: {
      defaultLocale: 'sv'
    },

    APP: {
      // Here you can pass flags/options to your application instance
      // when it is created
      defaultLocale: 'sv'
    }
  };

  if (environment === 'development') {
    // ENV.APP.LOG_RESOLVER = true;
    ENV.APP.LOG_ACTIVE_GENERATION = true;
    // ENV.APP.LOG_TRANSITIONS = true;
    // ENV.APP.LOG_TRANSITIONS_INTERNAL = true;
    ENV.APP.LOG_VIEW_LOOKUPS = true;

    ENV.APP.serviceURL = 'https://backend-server/v1';
    ENV.APP.authenticationBaseURL = 'https://backend-server/session';
    ENV.APP.fileURL = 'http://localhost:3000/v1/asset_data';
    // File in public/ directory
    ENV.APP.licenceURL = '/license_Dnr-A_85_592_10.pdf';
    ENV.APP.licenceCode = 'A 85 592 10';

    ENV.contentSecurityPolicy = {
     'default-src': "'none'",
     'script-src': "'self' my-own-hostname",
     'font-src': "'self' fonts.gstatic.com",
     'img-src': "'self'",
     'style-src': "'self' fonts.googleapis.com",
     'style-src': "'self' 'unsafe-inline' fonts.googleapis.com",
     'report-uri': "/"
    };

    ENV['simple-auth'] = {
        serverTokenRevocationEndpoint: '/revoke'
    };

  }

  if (environment === 'test') {
    // Testem prefers this...
    ENV.baseURL = '/';
    ENV.locationType = 'auto';

    // keep test console output quieter
    ENV.APP.LOG_ACTIVE_GENERATION = false;
    ENV.APP.LOG_VIEW_LOOKUPS = false;

    ENV.APP.rootElement = '#ember-testing';
  }

  if (environment === 'production-live') {
    ENV.APP.serviceURL = 'https://guppi.ub.gu.se/v1';
    ENV.APP.authenticationBaseURL = 'https://guppi.ub.gu.se/session';

    ENV.contentSecurityPolicy = {
     'font-src': "'self' fonts.gstatic.com",
     'style-src': "'self' 'unsafe-inline' fonts.googleapis.com"
    };
  }

  if (environment === 'production-test') {
    ENV.APP.serviceURL = 'https://guppi-test.ub.gu.se/v1';
    ENV.APP.authenticationBaseURL = 'https://guppi-test.ub.gu.se/session';

    ENV.contentSecurityPolicy = {
     'font-src': "'self' fonts.gstatic.com",
     'style-src': "'self' 'unsafe-inline' fonts.googleapis.com"
    };
  }

  return ENV;
};
