<VirtualHost *:80>
    ServerName {{ frontend_hostname }}
    Redirect permanent / https://{{ frontend_hostname }}/
</VirtualHost>

<VirtualHost *:443>
    ServerName {{ frontend_hostname }}
    FallbackResource /index.html

    #Alias /sitemaps.xml {{ [backend_sitemaps_data_dir, 'sitemaps.xml'] | path_join }}
    #Alias /sitemaps {{ [backend_sitemaps_data_dir, 'sitemaps'] | path_join }}

    <Directory {{ backend_sitemaps_data_dir }}>
      Require all granted
      AllowOverride all
      Options -MultiViews +Indexes
    </Directory>

    RewriteEngine on
    RewriteRule "^/gup$" "/" [R=301,L]
    RewriteRule "^/gup/$" "/" [R=301,L]
    RewriteRule "^/publication/(\d+)-.*" "/publication/$1" [R=301,L]
    RewriteRule "^/records/fulltext/\d+/(\d+)\.pdf$" "/publication/$1" [R=301,L]
    RewriteRule "^/records/fulltext/(\d+)\.pdf$" "/publication/$1" [R=301,L]
    RewriteRule "^/gup/record/index.xsql?pubid=(\d+)$" "/publication/$1" [R,L]
    RewriteRule "^/gup/record/index.xsql$" "/" [R,L]
    RewriteRule "^/lists/publications/departments/html/index.xsql$" "/" [R,L]
    RewriteRule "^/maintain/insert/index.xsql$" "/" [R,L]
    RewriteRule "^/gup/index.xsql$" "/" [R=301,L]
    RewriteRule "^/lists$" "/publications/list" [R=301,L]
    RewriteRule "^/lists/$" "/publications/list" [R=301,L]
    RewriteRule "^/oai-pmh/general$" "/oai" [R=301,L]
    RewriteRule "^/rss/2.0$" "/rss" [R=301,L]
    RewriteRule "^/oai-pmh/general/(.*)$" "/oai/$1" [R=301,L]
    RewriteRule "^/rss/2.0/(.*)$" "/rss/$1" [R=301,L]

    ProxyPreserveHost Off

    ProxyPass /rss http://127.0.0.1:{{ backend_host_port }}/rss
    ProxyPassReverse /rss http://127.0.0.1:{{ backend_host_port }}/rss

    SSLProxyEngine on
#    ProxyPass /oai http://127.0.0.1:{{ backend_host_port }}/oai
#    ProxyPassReverse /oai http://127.0.0.1:{{ backend_host_port }}/oai
    ProxyPass /oai {{ gup_admin_oai_uri }}
    ProxyPassReverse /oai {{ gup_admin_oai_uri }}

    ProxyPass /file http://127.0.0.1:{{ backend_host_port }}/file
    ProxyPassReverse /file http://127.0.0.1:{{ backend_host_port }}/file

    ProxyPass /oai-all http://127.0.0.1:{{ backend_full_host_port }}/oai
    ProxyPassReverse /oai-all http://127.0.0.1:{{ backend_full_host_port }}/oai

    ProxyPass /sitemaps.xml http://127.0.0.1:{{ apache_static_host_port }}/sitemaps.xml
    ProxyPassReverse /sitemaps.xml http://127.0.0.1:{{ apache_static_host_port }}/sitemaps.xml
    ProxyPass /sitemaps http://127.0.0.1:{{ apache_static_host_port }}/sitemaps
    ProxyPassReverse /sitemaps http://127.0.0.1:{{ apache_static_host_port }}/sitemaps

    ProxyPass        / http://localhost:{{ frontend_host_port }}/
    ProxyPassReverse / http://localhost:{{ frontend_host_port }}/

    SSLEngine on
    SSLCertificateFile /etc/ssl/apache2/certs/ub-gu-se.pem
    SSLCertificateKeyFile /etc/ssl/apache2/private/ub-gu-se.key
    SSLCertificateChainFile /etc/ssl/apache2/certs/ub-gu-se-chain.pem
</VirtualHost>
