<ul>
  <li>{{#link-to 'admin.people' (query-params qp='')}}{{t 'text.admin_people'}}{{/link-to}}</li>
  <li>{{#link-to 'admin.departments.index' (query-params qd='')}}{{t 'text.admin_departments'}}{{/link-to}}</li>
  <li>{{#link-to 'admin.messages'}}{{t 'text.admin_messages'}}{{/link-to}}</li>
</ul>
