<ul>
  <li>{{#link-to 'admin.people' (query-params qp='')}}{{t 'publications.dashboard.admin.admin_people'}}{{/link-to}}</li>
  <li>{{#link-to 'admin.departments.index' (query-params qd='')}}{{t 'publications.dashboard.admin.admin_departments'}}{{/link-to}}</li>
  <li>{{#link-to 'admin.messages' id='admin-messages-link'}}{{t 'publications.dashboard.admin.admin_messages'}}{{/link-to}}</li>
</ul>
