<table class="table">
{{#each model as |publication|}}
<tr class="reviewtable">
    <td>{{publication.id}}</td>
    <td>{{#link-to 'publications.show' publication.pubid (query-params mode="bibreview")}}{{publication.title}}{{/link-to}}</td>
    <td>{{publication.pubyear}}</td>
    <td>{{publication.publication_type}}</td>
</tr>
{{/each}}
</table>
