<div class="row">
  <div class="col-xs-12">
    {{#if model.length}}
    <ul class="list-unstyled dashboard-list">
      {{#each model as |item|}}
      <li>
        <div class="row">
          <div class="col-xs-10">
            {{publication-list-row item=item link='publications.show'}}
          </div>
          <div class="col-xs-2">
            <div class="btn-toolbar pull-right">
              <button {{action 'delete' item.id}} class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button>
            </div>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
    {{else}}
    {{t 'text.youHaveNoDrafts'}}
    {{/if}}
  </div>
</div>
