<div class="row">
  <div class="col-xs-12">
    {{#if model.length}}
    <ul class="list-unstyled dashboard-list">
      {{#each item in model}}
      <li>
        <div class="row">
          <div class="col-xs-12">

            <div class="row">
              <div class="col-xs-10">
                {{publication-list-row item=item link='publications.show'}}
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                {{review-item item=item setMsgHeader='showMessage' refreshReviewCount='refreshReviewCount' editItem='editItem'}}
              </div>
            </div>

          </div>

        </div>
      </li>
      {{/each}}
    </ul>
    {{else}}
    {{t 'text.youHaveNoPublicationsForReview'}}
    {{/if}}
  </div>
</div>
