<div class="row">
  <div class="col-xs-12">
          {{#if model.length}}
          <ul class="list-unstyled dashboard-list">
            {{#each model as |item|}}
              <li>
                {{publication-list-row item=item link='publications.show'}}
              </li>
            {{/each}}
          </ul>
          {{else}}
            {{t 'text.youHaveNoRegisteredOrEditedPublications'}}
          {{/if}}
  </div>
</div>
