---
- name: Deploy
  hosts: all
  tasks:

  - name: Ensure data directory
    become: yes
    ansible.builtin.file:
      path: "{{ data_dir }}"
      state: directory
      owner: "{{ ansible_user }}"
      group: "{{ ansible_user }}"
      mode: '755'

  - name: Ensure data sub-directories
    become: yes
    ansible.builtin.file:
      path: "{{ item }}"
      state: directory
      owner: "{{ ansible_user }}"
      group: "{{ ansible_user }}"
      mode: '755'
    loop:
      - "{{ backend_uploads_data_dir }}"
      - "{{ backend_sitemaps_data_dir }}"
      - "{{ backend_db_data_dir }}"
      - "{{ solr_data_dir }}"
      # - "{{ solr_guresearch_data_dir }}"
      - "{{ solr_journals_data_dir }}"
      - "{{ solr_people_data_dir }}"
      - "{{ solr_publications_data_dir }}"
      - "{{ apache_static_sites_dir }}"

  - name: Ensure apache static configuration
    become: true
    ansible.builtin.template:
      src: 'apache-static.conf.j2'
      dest: "{{ [apache_static_sites_dir, 'default.conf'] | path_join }}"

  - name: Deploy app
    include_role:
      name: ub-ansible-deploy
