<div class="gu-footer">
  <div class="container">
      <div class="col-xs-12">
        <ul>
          <li>© {{t "footer.copyright"}}</li>
          <li><a href="http://www.ub.gu.se">{{t "footer.websiteLink"}}</a></li>          
        </ul>
      </div>
  </div>
</div>
