<div class="container messages">
	{{partial 'msgheader'}}
</div>

{{partial 'header'}}

{{partial 'main-menu'}}
<div class="container">
	{{outlet}}
</div>

<div class="spinner">
	<span class="fa-stack fa-lg">
		<i class="fa fa-square fa-stack-2x"></i>
		<i class="fa fa-spinner fa-inverse fa-stack-1x fa-spin"></i>
	</span>
</div>
