<footer>
	<div class="container-fluid">
		<div id="footer" class="row">
			<div class="col-xs-12">
				<span>&copy; Göteborgs Universitetsbibliotek 2015</span>
			</div>
			<div class="col-xs-12">
				<span>Underhålls och drivs av Digitalatjänster</span>
			</div>
		</div>
	</div>
</footer>