<header>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="brand">
					<div class="logo hidden-xs">
						<a href="http://www.gu.se/" title="Göteborgs universitet">
							<img src="http://gu.se/digitalAssets/1498/1498141_ny_logo_sv_high.png" alt="">
						</a>
					</div>
					<div class="headers">
						<a href="http://www.ub.gu.se/"" class="level1">Göteborgs Universitetsbibliotek</a>
						<div class="level2">GUP</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
