
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav">
        <li>
          {{#link-to 'publications.manage'}}Hantera
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'publications.index'}}Publikationslista
          {{/link-to}}
        </li>
      </ul>
    </div><!-- /.container -->    
  </nav>

