
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-header">
      {{#link-to 'publications.dashboard.drafts' class="navbar-brand"}}
      GUP 3
      {{/link-to}}
    </div>
    <ul class="nav navbar-nav">
      {{#if session.isAuthenticated}}
      <li>
        {{#link-to 'publications.dashboard.drafts'}}Publikationer
        {{/link-to}}
      </li>
      {{/if}}
    </ul>

    <div class="user-auth pull-right">
      {{#if session.isAuthenticated}}
      <p><i class="fa fa-lock"></i> {{session.username}} (<small><a href="javascript:void(0)" {{action 'invalidateSession'}}>Logga ut</a></small>)</p>                
      {{else}}
      {{/if}}

    </div><!-- /.container -->    
  </div>
</nav>

