
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
    <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav">
        <li>
          {{#link-to 'publications.manage'}}Hantera
            <div class="active-indicator">
              <div class="arrow">
                <div class="top"></div>
                <div class="bottom"></div>
              </div>
            </div>
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'publications.index'}}Publikationslista
            <div class="active-indicator">
              <div class="arrow">
                <div class="top"></div>
                <div class="bottom"></div>
              </div>
            </div>
          {{/link-to}}
        </li>
      </ul>
    </div><!-- /.container -->    
  </nav>

