<div class="container wildcard-route">
	{{no-result icon="fa-times" displaytext=(t 'wildcard.displaytext')}}


	<div class="row">
		<div class="col-xs-12 center-content">
			{{#link-to 'application' }}{{t 'wildcard.linktext'}}{{/link-to}}
		</div>
	</div>
</div> 