{{#if publication}}

<div class="row">
      <div class="col-xs-12">
        {{publication-display publication=publication allPublicationTypes=publicationTypes publicationType=getPublicationTypeObject mode='preview'}}
      </div>
    </div>
  {{else}}
    {{no-result displaytext=(t 'publication.not_found')}}
{{/if}}


