    <div class="row">
      <div class="col-xs-12">
        {{publication-display publication=publication allPublicationTypes=publicationTypes publicationType=getPublicationTypeObject mode='preview'}}
      </div>
    </div>



